<div class="room-container">

 <form>
 <label>Please type and enter:</label>
   <input type="text" data-behavior="room_speaker">
 </form>
 <hr>
 <div id="messages">
   <%= render @messages %>
 </div>
</div>
